<h2>Chamados</h2>

<a href="/abrir_chamado">Abrir novo chamado</a>

<table border="1">
    <tr>
        <th>ID Chamado</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
	<th>Usúario</th>
	<th>Alterar Status</th>
	<th>Alterar Nível</th>
    </tr>

    {% for chamado in chamados %}
    <tr>
        <td>{{ chamado[0] }}</td>
        <td>{{ chamado[1] }}</td>
        <td>{{ chamado[2] }}</td>
        <td>{{ chamado[3] }}</td>
	<td>{{ chamado[4] }}</td>
	<td>
    		<form action="/atualizar_status/{{ chamado[0] }}" method="POST">
        		<select name="status">
            			<option value="aberto">Aberto</option>
            			<option value="em andamento">Em andamento</option>
            			<option value="finalizado">Finalizado</option>
        		</select>
        		<button type="submit">Atualizar</button>
    		</form>
	</td>
	<td>
  		<form action="/atualizar_nivel/{{ chamado[0] }}" method="POST">
        		<select name="nivel">
            			<option value="N1">N1</option>
            			<option value="N2">N2</option>
            			<option value="N3">N3</option>
        		</select>
        		<button type="submit">Definir</button>
    		</form>
	</td>
    </tr>
    {% endfor %}
</table>