<!DOCTYPE html>
<html>

<head>
    <title>Usuários do Sistema</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="topo">

        <a href="/admin">
            <button>Voltar</button>
        </a>

    </div>

    <div class="card">

        <h2>Usuários do Sistema</h2>

        <table>

            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>

            {% for u in usuarios %}
            <tr>

                <td>{{ u["id"] }}</td>
                <td>{{ u["login"] }}</td>
                <td>{{ u["tipo"] }}</td>

                <td>

                    <a href="/editar_usuario/{{ u['id'] }}">
                        <button>Editar</button>
                    </a>

                    <a href="/excluir_usuario/{{ u['id'] }}">
                        <button>Excluir</button>
                    </a>

                </td>

            </tr>
            {% endfor %}

        </table>

    </div>

</body>
</html>